/* @media Quary for 2560px display */

@media screen and (min-width: 2000px) and (max-width: 2700px){
    /* --------home page-------- */

    .joinus-sidebar{
        width: 13%;
    }
    .left-sidebar{
        width: 13%;
    }
}

/* @media quary for 1600px display */

@media screen and (min-width: 1442px) and (max-width: 1680px){
        /* --------home page-------- */
        .joinus-sidebar{
            width: 21.5%;
        }
        .left-sidebar{
            width: 21%;
        }
    }

    @media screen and (width: 1680px){
        .left-sidebar{
            width: 19%;
        }
    }

/* @media quary for 1440px display */

@media screen and (min-width: 1393px) and (max-width: 1440px){


/* ------------home page -------------- */
.logo{
    padding-right: 10px;
}

    .login-btn{
        margin-right: 15px;
    }
    .left-sidebar{
        width: 23%;
    }
    .joinus-sidebar{
        width: 24%;
    }
}


/* @media quary for 1366px display */


    @media screen and (min-width: 1300px) and (max-width: 1392px){
/*---------- home page---------------- */
        body {
            max-width: 100% !important;
        }
        header{
            max-width: 1350px;
            width: 100% !important;
        }
        .left-sidebar{
            width: 23%;
        }
        .joinus-sidebar{
            width: 23.5%;
        }
        .featured-img{
            width: 15%;
        }

/*---------------categories page -------------  */
         
        .gallery-img:last-child {
            margin-right: 0;
        }
        .gallery-img {
            width: 22.5%;
            margin-right: 2.5%;
        }
/* ------------------mindprint---------------- */

        .commonolity-user-img{
            width: 28%;
        }
        .commonality-img{
            width: 50%;
        }
    }


/* @media quary for 1280px display */

@media screen and (min-width: 1100px) and (max-width: 1299px){
/*--------------- home page----------------- */
        body{
            max-width: 100% !important;
        }
        .logo {
            width: 20%;
            padding-right: 13px;
        }        
        header {
            max-width: 1260px;
            width: 100% !important;
        }
        .left-sidebar{
            width: 23%;
        }
        .joinus-sidebar{
            width: 23.5%;
        }
        .featured-img{
            width: 15%;
        }

/*---------------categories page -------------  */
         
        .gallery-img:last-child {
            margin-right: 0;
        }
        .gallery-img{
            width: 22%;
            margin-right: 4%;
        }

/* --------------mindprint----------- */

        .mindprint-bio-box .newzack-img {
            width: 14%;
        }
        .perspective-img{
            width: 24%;
        }
        .perspective-list{
            width: 76%;
        }
        .commonality-img{
            width: 55%;
        }
        .commonolity-user-box{
            width: 45%;
        }
        .commonolity-user-img{
            width: 35%;
        }
        ul.login-navigation li{
            margin-right: 12px;
        }
    }

/* @media quary for 1024px display */

@media screen and (min-width: 1000px) and (max-width: 1100px){

/* ---------home page--------------- */
        body{
            width: 100% !important;
        }
        header{
            max-width: 1006px;
            width: 100% !important;
        }
        .left-sidebar{
            width: 23%;
        }
        .joinus-sidebar{
            width: 23.5%;
        }
        .featured-img{
            width: 17%;
        }
        .middle-trending{
            padding: 30px 40px;
        }
        .trending-prospective h5{
            font-size: 21px;
        }
        .trending-prospective p{
            font-size: 18px;
        }
        .newzack-img{
            width: 25%;
        }
        .story-content h5{
            font-size: 17px;
            margin-bottom: 16px;
        }
        .featured h5 {
            font-size: 21px;
        }
        .join-us h2{
            font-size: 21px;
        }
        .logo{
            width: 23%;
            padding-right: 0;
        }
        .owl-prev{
            left: -8%;
        }
        .owl-next{
            right: -8%;
        }

/*---------------categories page -------------  */
         
        .gallery-img:last-child {
            margin-right: 0;
        }
        .gallery-img {
            width: 23%;
            margin-right: 2.5%;
        }


/* -----------alert ----------- */

        .alert-img-content{
            width: 100%;
        }
        .alert-img{
            width: 30%;
        }
        .alert-img-box.setting-alert .alert-img-content {
            width: 100%;
        }
        .alert-img-box.setting-alert .alert-img {
            width: 50%;
        }
        ul.login-navigation li{
            margin-right: 5px;
        }
/* ---------mindprint----------- */

        .mindprint-bio-box .newzack-img {
            width: 18%;
        }
        .perspective-img{
            width: 30%;
        }
        .perspective-list{
            width: 70%;
        }
        .commonality-img{
            width: 70%;
            margin-bottom: 15px;
        }
        .commonolity-user-box{
            width: 80%;
        }
        .perspective-slider{
            width: 65%;
        }
    }


/* @media quary for mobile view */

@media screen and (min-width: 320px) and (max-width: 760px){
    /* ---------home page-------------- */

    body{
        max-width: 100% !important;
    }
    header{
        width: 100% !important;
        /* position: relative; */
        overflow: inherit;
    }
    .searchbar {
        display: none;
    }

    .logo{
        width: 60%;
    }
    .mobile-search-icon {
        position: relative;
        display: inline-block;
        width: 30%;
        font-size: 24px;
        margin-left: 7px;
    }
    .hero-title{
        width: 50%;
    }
    .mobile-hero-btn {
        position: relative;
        display: inline-block;
        width: 36%;
        float: left;
        overflow: hidden;
    }
    .mobile-searchbar-form .searchbar {
        display: block;
        width: 100%;
    }
    header {
        height: auto;
    }
    .mobile-searchbar-form {
        position: relative;
        display: block;
        width: 100%;
        margin-top: 20px;
    }            
    button.navbar-toggler {
        position: relative;
        display: block;
        width: 15%;
        float: right;
        margin-top: 10px;
    }        
    .navbar-collapse {
        /* position: relative; */
        /* display: block; */
        width: 100%;
        margin-top: 60px;
        max-height: 535px;
        overflow-y: auto;
    }
    .left-sidebar{
        display: none;
    }
    .mobile-navigation-bar .left-sidebar {
        padding-bottom: 20px;
        display: block;
    }
    .hero-btn .login-btn a {
        margin: 0;
        width: 100%;
    }    
    .hero-btn.nav-signup {
        margin-top: 20px;
        display: block;
    }
    header.shrink {
        width: 100%;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        z-index: 9999;
        top: 0;
        position: fixed;
        max-width: 1440px;
        transition: 0.5s all ease;
    }
    .owl-nav {
        display: none;
    }
    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
        display: none;
    }
    .owl-theme .owl-dots .owl-dot {
        display: inline-block;
    }


    section.hero-home-section{
        padding-top: 90px;
    }
    .left-sidebar {
        position: relative;
        width: 100%;
        overflow-y: hidden;
        padding-bottom: 40px;
        padding-top: 0;
    }
    .trending{
        padding-top: 0;
    }
    .middle-trending{
        padding: 40px 15px;
    }
    .trending-prospective{
        width: 70%;
    }
    .trending-prospective h5{
        font-size: 20px;
    }
    .trending-prospective p{
        font-size: 18px;
    }
    .trending-custmize{
        width: 30%;
    }
    .newzack-img{
        width: 30%;
    }
    .newzack-content{
        width: 70%;
    }
    .featured h5{
        font-size: 20px;
    }
    .sidebar h2{
        font-size: 20px;
    }
    .joinus-sidebar {
        padding: 40px 15px;
        position: relative;
        width: 100%;
    }    
    .join-us h2 {
        font-size: 20px;
        padding: 0;
        padding-bottom: 15px;
    }
    .newzack-box{
        padding: 20px;
    }
    .commonality-box{
        margin-bottom: 0;
    }

/* --------categories---------- */
   
    .gallery-img{
        width: 50%;
        min-height: 180px;
    }
    .middle-trending{
        height: auto;
    }

/* ---------list page------------- */

    .denim {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .denim-2 {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .trending-custmize p{
        font-size: 17px;
    }
    .week-content h2 {
        font-size: 22px;
    }

    /* -----------alert ----------- */

    .alert-img-content{
        width: 100%;
    }
    .alert-img{
        width: 30%;
    }
    .alter-clear{
        padding-top: 0;
    }

    /* login navigation */
    ul.login-navigation {
        text-align: left;
        margin-top: 20px;
    }
    
/* -----------mindprint--------------- */

    .mindprint-bio-box .newzack-img {
        width: 25%;
    }
    .commonolity-user-box{
        width: 100%;
    }
    .commonality-img {
        width: 100%;
        margin-bottom: 15px;
    }
    .perspective-img{
        width: 40%;
    }
    .perspective-list{
        width: 60%;
    }


/* --------------signup form -------------- */

    .signup-title p {
        font-size: 16px;
    }
    .modal.signup-model {
        padding: 30% 20px;
    }
    .signupform-box{
        width: 100%;
    }
    .signup-btn{
        width: 100%;
        float: none;
    }
    .signup-login{
        width: 100%;
    }
    .signup-login p {
        font-size: 15px;
    }
    .appple-btn{
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
    .facebook-btn{
        width: 100%;
        float: none;
    }
    .facebook-btn a {
        margin-bottom: 14px;
    }
    .signup-logo{
        display: none;
    }
    .signup-social-media-box {
        margin: 0;
        margin-top: 5px;
    }

    /* ---------------comment popup------------- */
    .comment-popuplink {
        width: 100%;
        margin-bottom: 15px;
    }
    .commentpop-btn {
        width: 100%;
        text-align: left;
    }
    .perspective-profile {
        width: 100%;
        margin-bottom: 15px;
    }
    .perspective-input{
        width: 100%;
    }
    .perspective-popup{
        width: 100%;
    }
    .comment-tile h2 {
        font-size: 19px;
    }
}


/* @media quary for 768px display */

@media screen and (min-width: 768px) and (max-width: 990px){
    /* ----------home page ------------- */

    header{
        width: 100% !important;
        /* position: relative; */
        overflow: inherit;
    }
    body{
        width: 100% !important;
    }
    .searchbar {
        display: none;
    }

    .logo{
        width: 60%;
    }
    .mobile-search-icon {
        position: relative;
        display: inline-block;
        width: 30%;
        font-size: 24px;
        margin-left: 7px;
    }
    .hero-title{
        width: 50%;
    }
    .mobile-hero-btn {
        position: relative;
        display: inline-block;
        width: 36%;
        float: left;
        overflow: hidden;
    }
    .mobile-searchbar-form .searchbar {
        display: block;
        width: 100%;
    }
    header {
        height: auto;
    }
    .mobile-searchbar-form {
        position: relative;
        display: block;
        width: 100%;
        margin-top: 20px;
    }            
    button.navbar-toggler {
        position: relative;
        display: block;
        width: 7%;
        float: right;
        margin-top: 10px;
    }        
    .navbar-collapse {
        /* position: relative; */
        /* display: block; */
        width: 100%;
        margin-top: 60px;
    }
    .hero-btn .login-btn a {
        margin: 0;
        width: 100%;
    }  
    .hero-btn.nav-signup {
        margin-top: 20px;
        display: block;
    }
    ul.login-navigation {
        text-align: left;
        margin-top: 20px;
    } 
    .owl-nav {
        display: none;
    }
    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
        display: none;
    }
    .owl-theme .owl-dots .owl-dot {
        display: inline-block;
    }
    
    .joinus-sidebar{
        width: 23%;
    }
    .middle-trending{
        padding: 30px;
    }
    .left-sidebar{
        width: 23%;
    }
    .featured-img{
        width: 22%;
    }
    .featured-content{
        width: 78%;
    }
    .newzack-img{
        width: 25%;
    }


    /* --------categories---------- */
   
    .gallery-img{
        width: 50%;
        min-height: 180px;
    }
    .featured h5 {
        font-size: 18px;
    }
    .week-content h2 {
        font-size: 20px;
    }

/* -----------alert ----------- */

    .alert-img-content{
        width: 100%;
    }
    .alert-img{
        width: 30%;
    }
    .alert-img-box.setting-alert .alert-img-content {
        width: 100%;
    }
    .alert-img-box.setting-alert .alert-img {
        width: 50%;
    }
    .join-us h2 {
        font-size: 15px;
    }
    .alter-clear a {
        font-size: 15px;
    }   
    
/* ----------------mindprint--------------- */
    .trending-prospective h5 {
        font-size: 22px;
    }
    .mindprint-bio-box .newzack-img {
        width: 25%;
    }
    .perspective-list{
        width: 60%;
    }
    .perspective-img{
        width: 40%;
    }
    .commonality-img{
        width: 100%;
        margin-bottom: 15px;
    }
    .commonolity-user-box{
        width: 100%;
    }
    .perspective-slider{
        width: 50%;
        padding-bottom: 5px;
    }
}